<?xml version="1.0"?>
<launch>

<arg name="manager_name" default="stereo_nodelet_manager"/>
<arg name="respawn" default="false" />

<arg     if="$(arg respawn)" name="bond" value="" />
<arg unless="$(arg respawn)" name="bond" value="--no-bond" />

<!-- nodelet manager process -->
<node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" />

<group ns="stereo" > 
  
  <!-- left camera -->
  <node pkg="nodelet" type="nodelet" name="camera1394_left_nodelet"
         args="load camera1394/driver /$(arg manager_name)" output="screen">
    <remap from="camera" to="left"/>
    <param name="guid" value="08144361026323d8" type="string"/>
    <param name="frame_id" value="left_cam_optical_link" />
    <param name="camera_info_url" value="file://$(find toad_stereo)/config/left_calib.yaml"/>
    <rosparam command="load" file="$(find toad_stereo)/config/cam_common.yaml" />
  </node>
  
  <!-- Basic processing for left camera -->
  <include file="$(find image_proc)/launch/image_proc.launch" ns="left">
    <arg name="manager" value="/$(arg manager_name)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>

</group>

</launch>
