<?xml version="1.0"?>
<launch>

<arg name="manager_name" default="stereo_nodelet_manager"/>
<arg name="respawn" default="false" />

<arg     if="$(arg respawn)" name="bond" value="" />
<arg unless="$(arg respawn)" name="bond" value="--no-bond" />

<group ns="stereo" >

  <!-- nodelet manager process -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" />
  
  <!-- left camera -->
  <node pkg="nodelet" type="nodelet" name="camera1394_left_nodelet"
         args="load camera1394/driver $(arg manager_name)" >
    <remap from="camera" to="left"/>
    <param name="guid" value="08144361026323d8" />
    <param name="frame_id" value="left_cam_link" />
    <param name="camera_info_url" value="$(find toad_stereo)/config/left_calib.yaml" />
    <rosparam command="load" file="$(find toad_stereo)/config/cam_common.yaml" />
  </node>
  
  <!-- right camera -->
  <node pkg="nodelet" type="nodelet" name="camera1394_right_nodelet"
         args="load camera1394/driver $(arg manager_name)" >
    <remap from="camera" to="right"/>
    <param name="guid" value="08144361026323d8" />
    <param name="frame_id" value="right_cam_link" />
    <param name="camera_info_url" value="$(find toad_stereo)/config/left_calib.yaml" />
    <rosparam command="load" file="$(find toad_stereo)/config/cam_common.yaml" />
  </node>
  
  <!-- Basic processing for left camera -->
  <include file="$(find image_proc)/launch/image_proc.launch" ns="$(arg left)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>
  
  <!-- Basic processing for right camera -->
  <include file="$(find image_proc)/launch/image_proc.launch" ns="$(arg right)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>
  
  <!-- Disparity image -->
  <node pkg="nodelet" type="nodelet" name="disparity" args="load stereo_image_proc/disparity $(arg manager) $(arg bond)" respawn="$(arg respawn)">
    <param name="approximate_sync" value="true"/>
    <!--param name="disparity_range" value="128"/-->
  </node>
  
  <!-- Point cloud, PCL-friendly -->
  <node pkg="nodelet" type="nodelet" name="point_cloud2" args="load stereo_image_proc/point_cloud2 $(arg manager) $(arg bond)" respawn="$(arg respawn)">
    <param name="approximate_sync" value="true"/>
  </node>

</group>

</launch>
