<?xml version="1.0"?>
<launch>

  <!-- TODO convert it to nodelets!!!!!!!!!!!!!!! -->

  <!-- first camera and associated image pipeline -->
  <group ns="stereo" >
  
    <node pkg="camera1394" type="camera1394_left_node" name="camera1394_node" ns="left">
      <param name="guid" value="08144361026323d8" />
      <param name="video_mode" value="640x480_rgb8" />
      <param name="frame_id" value="left_cam_link" />
      <param name="camera_info_url" value="$(find toad_stereo)/config/left_calib.yaml" />
      <param name="frame_rate" value="15" />
      <param name="iso_speed" value="400" />
    </node>
    
    <node pkg="camera1394" type="camera1394_right_node" name="camera1394_node" ns="right">
      <param name="guid" value="0814436102632744" />
      <param name="video_mode" value="640x480_rgb8" />
      <param name="frame_id" value="right_cam_link" />
      <param name="camera_info_url" value="$(find toad_stereo)/config/right_calib.yaml" />
    </node>
    
    <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc">
	    <param name="disparity_range" type="int" value="128"/>
      <param name="approximate_sync" type="bool" value="true"/>
      <param name="frame_rate" value="15" />
      <param name="iso_speed" value="400" />
	  </node>

  </group>

</launch>
