<?xml version="1.0"?>
<launch>
  
  <!-- this must be uploaded anyway -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find p2os_urdf)/defs/pioneer3at.xacro" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <!-- spawn robot using urdf description -->
  <node name="spawn_robot_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model pioneer3at" respawn="false" output="screen" />
  
  
</launch>
