<?xml version="1.0"?>
<launch>

	<!--delete old parameters -->
	<rosparam command="delete" param="/move_base"/>

	<!--- Run move base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" respawn="true">

		<param name="controller_frequency" value="5"/>

    <!--param name="base_global_planner" value="carrot_planner/CarrotPlanner"/-->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    
    <!--rosparam file="$(find toad_navigation_local)/config-hydro/carrot_planner.yaml" command="load" ns="CarrotPlanner" /-->
    <rosparam file="$(find toad_navigation_local)/config-hydro/navfn.yaml" command="load" ns="NavfnROS" />
    <rosparam file="$(find toad_navigation_local)/config-hydro/tr_planner.yaml" command="load" ns="TrajectoryPlannerROS" />

		<!--- load parameters -->
		<rosparam file="$(find toad_navigation_local)/config-hydro/move_base.yaml" command="load" />
		<rosparam file="$(find toad_navigation_local)/config-hydro/costmap.yaml" command="load" />
	</node>

</launch>
