<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
name="toad">

  <include filename="$(find p2os_urdf)/defs/pioneer3at_body.xacro"/>
  <!--include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro"/-->
  <include filename="$(find toad_description)/urdf/hokuyo_utm30lx.urdf.xacro"/>
    
  <xacro:p3at_front suffix="left" reflect="1"/>
  <xacro:p3at_front suffix="right" reflect="-1"/>
  <xacro:p3at_back suffix="left" reflect="1"/>
  <xacro:p3at_back suffix="right" reflect="-1"/>
  <xacro:p3at_gazebo_ext/>
  
  <joint name="p3at_velodyne_joint" type="fixed">
		<origin xyz="0 0 0.5" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="velodyne_link"/>
	</joint>
	
	<joint name="p3at_imu_joint" type="fixed">
		<origin xyz="0 -0.2 0.5" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="imu_link"/>
	</joint>
	
	<joint name="p3at_left_cam_joint" type="fixed">
		<origin xyz="0 -0.2 0.4" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="left_cam_link"/>
	</joint>
	
	<joint name="p3at_right_cam_joint" type="fixed">
		<origin xyz="0 0.2 0.4" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="right_cam_link"/>
	</joint>
	
	<link name="velodyne_link">
		<inertial>
			<mass value="1.0"/>	
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0"
				 iyy="1.0" iyz="0.0" izz="1.0"/>
  	 	</inertial>
	<visual name="base_visual">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry name="pioneer_geom">
			<cylinder length="0.15" radius="0.07"/>
		</geometry>
		<material name="velodyneGrey">
        <color rgba="0.6 0.6 0.6 1"/>
    </material>
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<cylinder length="0.15" radius="0.05"/>
		</geometry>
	</collision>
	</link>
	
	<link name="imu_link">
		<inertial>
			<mass value="0.1"/>	
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0"
				 iyy="1.0" iyz="0.0" izz="1.0"/>
  	 	</inertial>
	<visual name="imu_vis">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<box size="0.01 .01 .01"/>
		</geometry>
		<material name="imuBlack">
        <color rgba="0.9 0.9 0.9 1"/>
    </material>
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<box size="0.01 .01 .01"/>
		</geometry>
	</collision>
	</link>
	
	
	
	<link name="left_cam_link">
		<inertial>
			<mass value="0.2"/>	
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0"
				 iyy="1.0" iyz="0.0" izz="1.0"/>
  	 	</inertial>
	<visual name="lcvis">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<box size="0.025 .05 .05"/>
		</geometry>
		<material name="cameraGray">
        <color rgba="0.4 0.4 0.4 1"/>
    </material>
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<box size="0.025 .05 .05"/>
		</geometry>
	</collision>
	</link>
	
	<link name="right_cam_link">
		<inertial>
			<mass value="0.2"/>	
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0"
				 iyy="1.0" iyz="0.0" izz="1.0"/>
  	 	</inertial>
	<visual name="rcvis">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<box size="0.025 .05 .05"/>
		</geometry>
		<material name="cameraGray">
        <color rgba="0.4 0.4 0.4 1"/>
    </material>
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
			<box size="0.025 .05 .05"/>
		</geometry>
	</collision>
	</link>
	
	
	<joint name="p3at_left_cam_optical_joint" type="fixed">
		<origin xyz="0 0 0" rpy="1.57 3.14 1.57"/>
		<parent link="left_cam_link"/>
		<child link="left_cam_optical_link"/>
	</joint>
	
	<joint name="p3at_right_cam_optical_joint" type="fixed">
		<origin xyz="0 0 0" rpy="1.57 3.14 1.57"/>
		<parent link="right_cam_link"/>
		<child link="right_cam_optical_link"/>
	</joint>
	
	<link name="left_cam_optical_link"/>
	<link name="right_cam_optical_link"/>
	
	<!-- Hokuyo UTM-30LX mounted upside down -->
	<xacro:hokuyo_utm30lx name="hokuyo" parent="base_link" ros_topic="/scan" update_rate="10" ray_count="1080" min_angle="-135" max_angle="135">
  	<origin xyz="0.32 0.0 0.2" rpy="${M_PI} 0 0"/>
	</xacro:hokuyo_utm30lx>
	
	<gazebo>
	
	<plugin name="imu_sim" filename="libhector_gazebo_ros_imu.so">
      <updateRate>20.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>/imu_3dm_node/imu/data</topicName>
      <rpyOffsets>0 0 0</rpyOffsets> <!-- deprecated -->
      <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->
      <accelDrift>0.5 0.5 0.5</accelDrift>
      <accelGaussianNoise>0.35 0.35 0.3</accelGaussianNoise>
      <rateDrift>0.1 0.1 0.1</rateDrift>
      <rateGaussianNoise>0.05 0.05 0.015</rateGaussianNoise>
      <headingDrift>0.1</headingDrift>
      <headingGaussianNoise>0.05</headingGaussianNoise>
    </plugin>
    
    <plugin name="gps_sim" filename="libhector_gazebo_ros_gps.so">
      <updateRate>10.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>/imu_3dm_node/nav/fix</topicName>
      <velocityTopicName>/imu_3dm_node/nav/fix_velocity</velocityTopicName>
      <drift>5.0 5.0 5.0</drift>
      <gaussianNoise>0.01 0.01 0.01</gaussianNoise>
      <velocityDrift>0 0 0</velocityDrift>
      <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>
      <referenceLatitude>49.207387</referenceLatitude>
      <referenceLongitude>16.609840</referenceLongitude>
    </plugin>
	
	</gazebo>
  
  <gazebo reference="left_cam_link">
    <sensor type="multicamera" name="stereo_camera">
      <update_rate>5.0</update_rate>
      <camera name="left">
        <pose>0 0 0 0 0 0</pose>
        <horizontal_fov>0.733038285</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>30.0</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <camera name="right">
        <pose>0 -0.4 0 0 0 0</pose>
        <horizontal_fov>0.733038285</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>30.0</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>stereo</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>left_cam_optical_link</frameName>
        <rightFrameName>right_cam_optical_link</rightFrameName>
        <hackBaseline>0.4</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  
 <gazebo reference="velodyne_link">
    <sensor type="gpu_ray" name="velodyne">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>4096</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>5.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.02</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_velodyne_laser_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/velodyne/scan</topicName>
        <frameName>velodyne_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
