<?xml version="1.0"?>
<launch>

  <arg name="indoor" default="false"/>
  <arg name="stereo" default="false"/>

  <!-- send table.xml to param server -->
  <include file="$(find toad_description)/launch/upload.launch" />

  <!-- publish TFs for static links -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">

    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value=""/>
 
  </node>

  <!-- check what's doing this... -->
	<node pkg="p2os_urdf" type="publisher" name="publisher"/>

	<include file="$(find toad_bringup)/launch/base_only.launch" />
	
	<!-- Stereo (nodelets / nodes) -->
	<!--include unless="$(arg stereo)" file="$(find toad_stereo)/launch/mono_nodelets.launch" />
	<include if="$(arg stereo)" file="$(find toad_stereo)/launch/stereo_nodelets.launch" /-->
	
	<include file="$(find toad_bringup)/launch/kinect.launch" />
	
	<!-- Microstrain IMU -->
	<include file="$(find microstrain_3dm_gx3_45)/launch/imu.launch" />
	
	<!-- script for publishing robot heading -->
	<node pkg="toad_utils" type="heading.py" name="robot_heading" output="screen" respawn="true"/>
	
	<!-- odometry stuff -->
	<include if="$(arg indoor)" file="$(find toad_bringup)/launch/robot_pose_ekf_indoor.xml" />
	<include unless="$(arg indoor)" file="$(find toad_bringup)/launch/robot_pose_ekf_indoor.xml" />
	<include if="$(arg indoor)" file="$(find toad_bringup)/launch/laser_scan_matcher_nodelet.xml" />
	
	<!-- Velodyne driver -->
	<include file="$(find but_velodyne)/launch/velodyne.launch" />

	<!-- Hokuyo 2D laser scanner -->
	<include file="$(find toad_bringup)/launch/hokuyo.launch" />
	
	<!-- Velodyne cloud2scan -->
	<include file="$(find but_velodyne)/launch/laserscan_nodelet.launch" />
	<include file="$(find but_velodyne)/launch/groundmap_nodelet.launch" />
	
</launch>
