<?xml version="1.0"?>
<launch>

  <arg name="indoor" default="false"/>
  <arg name="stereo" default="false"/>

  <!-- send table.xml to param server -->
  <include file="$(find toad_description)/launch/upload.launch" />

  <!-- publish TFs for static links -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">

    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value=""/>
 
  </node>

  <!-- check what's doing this... -->
	<node pkg="p2os_urdf" type="publisher" name="publisher"/>

	<!-- run p2os to control the pioneer -->
	<node pkg="p2os_driver" type="p2os_driver" name="p2os" output="screen">
	  <param name="port" value="/dev/ttyUSB0" type="string"/>
	  <param name="max_xspeed" value="0.75" type="double"/>
	  <param name="max_yawspeed" value="0.75" type="double"/>
	  <param name="max_xaccel" value="0.5" type="double"/>
	  <param name="max_xdecel" value="10.0" type="double"/>
	  <param name="max_yawaccel" value="0.5" type="double"/>
	  <param name="max_yawdecel" value="10.0" type="double"/>
	  <param name="publish_tf" value="false"/>
	  <remap from="pose" to="odom"/>
	</node>
	
	<!-- Stereo (nodelets / nodes) -->
	<!--include unless="$(arg stereo)" file="$(find toad_stereo)/launch/mono_nodelets.launch" />
	<include if="$(arg stereo)" file="$(find toad_stereo)/launch/stereo_nodelets.launch" /-->
	
	<include file="$(find toad_bringup)/launch/kinect.launch" />
	
	<!-- Microstrain IMU -->
	<include file="$(find microstrain_3dm_gx3_45)/launch/imu.launch" />
	
	<!-- script for publishing robot heading -->
	<node pkg="toad_utils" type="heading.py" name="robot_heading" output="screen"/>
	
	<!-- odometry stuff -->
	<include if="$(arg indoor)" file="$(find toad_bringup)/launch/robot_pose_ekf_indoor.xml" />
	<include unless="$(arg indoor)" file="$(find toad_bringup)/launch/robot_pose_ekf_indoor.xml" />
	<include if="$(arg indoor)" file="$(find toad_bringup)/launch/laser_scan_matcher_nodelet.xml" />
	
	<!-- Velodyne driver -->
	<include file="$(find but_velodyne)/launch/velodyne.launch" />
	
	<!-- Velodyne cloud2scan -->
	<include file="$(find but_velodyne)/launch/laserscan_nodelet.launch" />
	
</launch>
