<?xml version="1.0"?>
<launch>

	<!--delete old parameters -->
	<rosparam command="delete" param="/move_base"/>
	
  <node pkg="move_base" type="move_base" name="move_base_node" output="screen">

    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    
    <rosparam file="$(find toad_navigation_global)/config/navfn.yaml" command="load" ns="NavfnROS" />
    <rosparam file="$(find toad_navigation_global)/config/tr_planner.yaml" command="load" ns="TrajectoryPlannerROS" />

    <!-- Load common configuration files -->
    <rosparam file="$(find toad_navigation_global)/config/move_base.yaml" command="load" />
    <rosparam file="$(find toad_navigation_global)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find toad_navigation_global)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pr2_navigation_config)/move_base/recovery_behaviors.yaml" command="load" />

    <!-- Load global navigation specific parameters -->
    <rosparam file="$(find toad_navigation_global)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find toad_navigation_global)/config/local_costmap_params.yaml" command="load"  />
  </node>

</launch>
